<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eugenisb.alphatest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlphaTest">

        <activity
            android:name=".lists.OneOfMyContactListsActivity"
            android:exported="false" />
        <activity
            android:name=".lists.ContactListsActivity"
            android:exported="false" />
        <activity
            android:name=".lists.EditMyListActivity"
            android:exported="false" />
        <activity
            android:name=".lists.OneOfMyListsActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".lists.MyListsActivity" />
        </activity>
        <activity
            android:name=".lists.CreateListActivity"
            android:exported="false" />
        <activity
            android:name=".lists.MyListsActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.ProfileActivity" />
        </activity>
        <activity
            android:name=".SearchMovieAPIActivity"
            android:exported="true" />
        <activity
            android:name=".groups.GroupRecommendationActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.HomeActivity" />
        </activity>
        <activity
            android:name=".groups.GroupChatLogActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.HomeActivity" />
        </activity>
        <activity
            android:name=".groups.CreateGroupNameActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".groups.CreateGroupMembersActivity"
            android:exported="false">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".profileAndHome.HomeActivity" />
        </activity>


        <activity
            android:name=".groups.MyGroupsActivity"
            android:exported="false" />
        <activity
            android:name=".contacts.ContactRecommendationActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.HomeActivity" />
        </activity>
        <activity
            android:name=".contacts.ContactChatLogActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.HomeActivity" />
        </activity>
        <activity
            android:name=".contacts.ContactProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.HomeActivity" />
        </activity>
        <activity
            android:name=".contacts.ContactRequests"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".contacts.AddContactActivity" />
        </activity>
        <activity
            android:name=".profileAndHome.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contacts.AddContactActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.HomeActivity" />
        </activity>
        <activity
            android:name=".contacts.MyContactsActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.HomeActivity" />
        </activity>
        <activity
            android:name=".profileAndHome.EditProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.ProfileActivity" />
        </activity>
        <activity
            android:name=".profileAndHome.ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profileAndHome.HomeActivity" />
        </activity>
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.AuthActivity"
            android:exported="true" />
    </application>

</manifest>